<div class="array-refs__mixed-data-structures" v-if="mixedDataStructures && mixedDataStructures.length">
<div class="array-refs__mixed-data-structures__mixed-data-structure" v-for="(mixedDataStructure, index) in mixedDataStructures" :key="index">
<component :is="mixedDataStructure._ref.replace('/', '')" :key="index" v-bind="mixedDataStructure"></component>
</div>
</div>
<div class="array-refs__forms" v-if="forms && forms.length">
<div class="array-refs__forms__form" v-for="(form, index) in forms" :key="index">
<div class="array-refs__forms__form__data-form" v-if="form.dataForm">
{{form.dataForm}}
</div>
</div>
</div>
