<div class="data-structures-ref-array{{#each _modifiers}} data-structures-ref-array--{{this}}{{/each}}">
{{#if blocks.[0]}}
<div class="data-structures-ref-array__blocks">
{{#each blocks}}
<div class="data-structures-ref-array__blocks__block">
{{{ dynPartial _ref this }}}
</div>
{{/each}}
</div>
{{/if}}
{{#if people.[0]}}
<div class="data-structures-ref-array__people">
{{#each people}}
<div class="data-structures-ref-array__people__person">
{{> parPerson this }}
</div>
{{/each}}
</div>
{{/if}}
</div>