<div class="object-single-property{{#each _modifiers}} object-single-property--{{this}}{{/each}}">
<div class="object-single-property__parent-object">
{{#if parentObject.exampleInteger}}
<div class="object-single-property__parent-object__example-integer">
{{parentObject.exampleInteger}}
</div>
{{/if}}
</div>
</div>